<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Invoice Generator</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
      html {
        height: 100%;
        -webkit-print-color-adjust: exact;
      }
      .previewLogo {
        width: 200px;
      }
      .logoBlock {
        text-align: center;
        /* width: 100%; */
        display: flex;
        justify-content: center;
      }
      .fromText {
        text-align: left;
      }
      .forText {
        text-align: left;
        float: right;
      }
      .previewPage .summeryDetails {
        font-weight: 100;
        font-size: 0.9em;
        margin-bottom: 0px;
      }

      @media only screen and (max-width: 768px) {
        .previewPage {
          font-size: 10px;
        }
        .previewPage .itemHeader .firstItem {
          margin-left: 0px !important;
          text-align: left;
        }
        .previewPage .summeryDetails .summeryItem {
          margin-left: 10px !important;
        }
        .previewPage .amountPaid .summeryItem {
          margin-left: 10px !important;
          font-size: 10px;
        }
        .previewPage .amountPaid {
          font-weight: 700;
          font-size: 10px !important;
        }
        .page {
          width: 480px;
          margin: 0 auto;
        }
        .newInvoiceButton {
          text-align: center;
          justify-content: center;
          width: 100%;
          margin-left: 0;
        }
        .emailInvoiceButton {
          margin-right: 0 !important;
        }
        .paper {
          width: 480px;
          margin: 0 auto;
        }
        .paper-invoicepart {
          margin-top: -606px;
          float: left;
          display: none;
        }
        .paper-logopart-input--design {
          width: 100%;
        }
        .paper-logopart-button--logo {
          width: 240px;
          height: 60px;
        }
      }
      .previewPage {
        background: #fff;
        padding: 30px 50px;
        text-align: center;
      }
      .previewPage .invoiceTitle {
        font-weight: 700;
        font-size: 2.5em;
      }
      .previewPage .detailsBlock {
        display: flex;
        font-weight: 100;
        font-size: 0.9em;
      }
      .previewPage .detailsBlock .listItem {
        width: 100px;
      }
      .previewPage .itemHeader {
        background: #353940;
        color: #fff;
        margin-left: 1px;
        font-weight: 100;
        font-size: 0.9em;
      }
      .previewPage .itemHeader .firstItem {
        margin-left: 20px;
        text-align: left;
      }
      .previewPage .itemHeader .lastItem {
        text-align: left;
      }
      .previewPage .itemDescription {
        margin-left: 1px;
        font-weight: 100;
        font-size: 0.9em;
      }
      .previewPage .itemDescription .firstItem {
        margin-left: 20px;
        text-align: left;
      }
      .previewPage .itemDescription .lastItem {
        text-align: right;
        text-align: left;
      }
      .previewPage .itemDescription .singleItem {
        text-align: left;
      }
      .previewPage .summeryDetails {
        font-weight: 100;
        font-size: 0.9em;
      }
      .previewPage .summeryDetails .summeryItem {
        margin-left: 25px;
      }
      .previewPage .amountPaid {
        font-weight: 700;
        font-size: 1.5em;
      }
      .previewPage .amountPaid .summeryItem {
        margin-left: 25px;
      }
    </style>
  </head>
  <body>
    <section class="previewPage">
      <section class="topPrevieBlock">
        <section class="logoBlock">
          <div class="previewLogo">
            <img src="<%= logo %>" />
          </div>
        </section>
        <section>
          <div class="invoiceTitle">Invoice <%= invoiceId %></div>
        </section>
      </section>
      <hr />
      <section class="columns">
        <section class="column is-6 fromText">
          <div>
            <h2>From</h2>
            <span><%= invoiceFrom %></span>
          </div>
        </section>
        <section class="column is-6">
          <div class="forText">
            <h2>For</h2>
            <span><%= invoiceTo %></span>
          </div>
        </section>
      </section>

      <section class="columns columns is-mobile">
        <section class="column is-12 has-text-left is-horizontal">
          <div class="detailsBlock">
            <div class="listItem">Date:</div>
            <div class="listItem"><%= date %></div>
          </div>
          <div class="detailsBlock">
            <div class="listItem">Due Date:</div>
            <div class="listItem"><%= dueDate %></div>
          </div>
          <div class="detailsBlock">
            <div class="listItem">Terms:</div>
            <div class="listItem"><%= paymentTerms %></div>
          </div>
        </section>
      </section>

      <section class="columns is-mobile itemHeader">
        <section class="column is-6 firstItem">Description</section>
        <section class="column is-2 has-text-right">Price</section>
        <section class="column is-1 itemQty has-text-right">Qty</section>
        <section class="column is-3 lastItem">Amount</section>
      </section>

      <% items.forEach(value => { %>
      <section class="columns is-mobile itemDescription">
        <section class="column is-6 firstItem">
          <%= value.description %>
        </section>
        <section class="column itemPrice is-2 has-text-right">
          <%= value.rate %>
        </section>
        <section class="column itemQty is-1 has-text-right">
          <%= value.quantity %>
        </section>
        <section class="column is-3 lastItem"><%= value.amount %></section>
      </section>
      <% }) %>

      <hr />
      <section class="columns is-mobile summeryDetails">
        <section class="column is-9 has-text-right">Subtotal:</section>
        <section class="column is-3 has-text-left">
          <div class="summeryItem">$<%= subTotal %></div>
        </section>
      </section>

      <section class="columns is-mobile summeryDetails">
        <section class="column is-9 has-text-right">
          Discount <% if (discount.type === 'percentage') { %> <%= discount.rate
          %>% <% } %>
        </section>
        <section class="column is-3 has-text-left">
          <div class="summeryItem">-$<%= discount.amount %></div>
        </section>
      </section>

      <section class="columns is-mobile summeryDetails">
        <section class="column is-9 has-text-right">
          Tax <% if (tax.type === 'percentage') { %> <%= tax.rate %>% <% } %>
        </section>
        <section class="column is-3 has-text-left">
          <div class="summeryItem">$<%= tax.amount %></div>
        </section>
      </section>

      <section class="columns is-mobile summeryDetails">
        <section class="column is-9 has-text-right">Shipping:</section>
        <section class="column is-3 has-text-left">
          <div class="summeryItem">$<%= shipping.amount %></div>
        </section>
      </section>

      <section class="columns is-mobile summeryDetails">
        <section class="column is-9 has-text-right">Paid Amount:</section>
        <section class="column is-3 has-text-left">
          <div class="summeryItem">$<%= amountPaid %></div>
        </section>
      </section>

      <section class="columns is-multiline is-mobile amountPaid">
        <section class="column is-9 has-text-right">Due Amount:</section>
        <section class="column is-3 has-text-left">
          <div class="summeryItem">$<%= dueAmount %></div>
        </section>
      </section>

      <section class="columns itemHeader">
        <section class="column is-6 firstItem">
          Notes:<br />
          <%= notes %>
        </section>
      </section>
    </section>
  </body>
</html>
